body {
	background: #2A7B9B;
	background: #50C878;
	background: linear-gradient(90deg,rgba(80, 200, 120, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
.h6 {
	background-color: #98C4BD;
    color: black;
    text-align: center;
    font-size: 8pt;
}
.centrer {
	text-align: center;
}
iframe {
	border: 0;
}
.abbr2et3,#blanc,h2,p {	
	color: white;
}
#noir,blockquote {
	color: #374255;
}
.bleuciel {
	color: lightskyblue;
	color: cyan;
}
.grisclair {
	color: gainsboro;
}
#grisfoncé {
	color: darkgray;
}
.pouce_leve {
	list-style-type: "\1F44D";
}
.avantages {
	background-color: #98C4BD;
}
.gold {
	background-color: #FFD700;
}
.back {
	list-style-type: "\01F519";
}
.degrade {
	background: linear-gradient(to right, red, violet);
	-webkit-background-clip: text; /* nécessaire pour Chrome/Safari */
	background-clip: text;
	color: transparent; /* rend le texte transparent pour voir le dégradé */
  }
.fond_blanc {
	background-color: gainsboro
}






