body {
	background: #2A7B9B;
	background: #50C878;
	background: linear-gradient(90deg,rgba(80, 200, 120, 1) 0%, rgba(0, 212, 255, 1) 100%);
	font-family: 'sans-serif';
	src: local("Times New Roman");
	font-display: swap;
}
.h6 {
	background-color: #98C4BD;
    color: black;
    text-align: center;
    font-size: 8pt;
}
.centrer {
	text-align: center;
}
iframe {
	border: 0;
}
.abbr2et3,#blanc,h2,p {	
	color: white;
}
#noir,blockquote {
	color: #374255;
}
.bleuciel {
	color: cyan;
}
.grisclair {
	color: gainsboro;
}
#grisfoncé {
	color: darkgray;
}
.pouce_leve {
	list-style-type: "\1F44D";
}
.poucedown {
  list-style-type: "\1F44E";
}
.doigt_right {
  list-style-type: "\01F449";
}
.avantages {
	background-color: #98C4BD;
}
.gold {
	background-color: #FFD700;
}
.back {
	list-style-type: "\01F519";
}
.degrade {
	background: linear-gradient(to right, red, violet)
}
.fond_blanc {
	background-color: gainsboro
}
button{
	font-size:24px;margin-left:40px
}
.black_h1{
	font-size:40px;color:black
}

